/* STYLING THE NAVBAR */

.navbar {
    font-family: "ABeeZee", sans-serif;
    font-weight: 400;
    font-style: normal;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 5px;
    min-height: 130px;
    position: absolute;
}

.heading {
    font-size: 45px;
    display: flex;
    margin-top: 45px;
    margin-left: 50px;
}

.heading i {
    font-size: 20px;
}

.navlist {
    margin-right: 90px;
    font-size: 28px;
    display: flex;
    width: 200px;
    position: relative;
    right: 0%;
    left: 220%;

}

.navlist ul {
    list-style: none;
    /* cursor: pointer !important; */
    z-index: 10;
}

.navlist ul li {
    cursor: pointer;
    font-size: 28px;/* Increase padding if needed */

}

/* END OF STYLING THE NAVBAR */

/* STYLING IMAGES */

.image-wrapper {
    position: relative;
    width: 100%;
    height: 100vh;
}

.container:hover .image-wrapper .img {
    transition: transform 500ms ease-out;
    transform: perspective(500px) translateX(7.915999999999997px) translateY(-2.3200000000000003px) rotateX(-1.7400000000000002deg) rotateY(-5.936999999999998deg) rotate(var(--comp-rotate-z, 0deg));
}

.img {
    position: absolute;
}

.img1 {
    left: 30%;
    top: 2%;
}

.img2 {
    left: 5%;
    top: 18%;
}

.img3 {
    left: 50%;
    top: 18%;
    transition: transform 500ms ease-out;
}

.img4 {
    left: 20%;
    top: 50%;
}

.img5 {
    left: 87%;
    top: 50%;
}

.img6 {
    left: 70%;
    top: 70%;
}

/* STYLING IMAGES END */

/* styling main title  */

.title {
    height: 550px;
    width: 1150px;
    font-size: 240px;
    font-weight: 400;
    position: absolute;
    top: 20%;
    left: 10%;
    font-family: "Baskervville SC", serif;
}

/* end ofstyling main title  */

/* styling arbos description  */
.description {
    width: 1050px;
    margin-left: 50px;
    font-size: 52px;
    font-family: "Playfair Display", serif;
    font-weight: 500;
    word-spacing: 5px;
}
/* end styling arbos description  */

/* styling portfolio  */
.portfolio{
    display: flex;
    justify-content: space-around;
    align-content: center;
    padding-top: 60px;
}
.ourpfl{
    font-family: "Baskervville SC", serif;
    font-size: 130px;
    font-weight: 400;
    margin-left: -90px;
}
.viewall{
    font-size: 28px;
    border: 2px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0%;
    height: 40px;
    width: 130px;
    margin-top: 70px;
    border-radius: 50px;
}

.viewall:hover{
    cursor: pointer;
    background-color: black;
    color: white;
}

/* end of styling portfolio  */

/* styling portfolio images  */

.prtimg{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    height: 720px;
    font-size: 25px;
}

.year{
    display: flex;
    justify-content: flex-end;
}

.state{
    display: flex;
    justify-content: flex-end;
}

.etherealimg img{
    height: 440px;
    width: 400px;
}

.verdantimg img{
    height: 500px;
    width: 450px;
}

.luminaimg img{
    height:380px;
    width: 390px;
}

.etherealheading{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 40px;
    margin-left: 2px;
}

.seeproject{
    letter-spacing: 2px;
    cursor: pointer;
    margin-left: 2px;
}

.seeproject i{
    font-size: 20px;
}

.seeproject i {
    font-size: 20px;
    transition: transform 0.3s ease; /* Adds a smooth transition effect */
}

.seeproject:hover i {
    transform: translateX(5px); /* Moves the arrow slightly to the right */
}

.etherealimg, .verdantimg, .luminaimg {
    overflow: hidden; /* Hide overflow for zoom effect */
}

.prtimg img {
    transition: transform 0.3s ease; /* Smooth transition for zoom */
    display: block;
    object-fit: cover; /* Cover the div while maintaining aspect ratio */
}

.prtimg img:hover {
    transform: scale(1.05); /* Slight zoom effect */
}

/* End of styling portfolio images  */

/* Responsive for tablets  */

@media screen and (max-width:935px){
    .navlist{
        left: 400px;
    }

    .image-wrapper{
        max-width: 750px;
        margin-left: 20px;
    }

    .img1{
        left: 40%;
    }
    .img3{
        left: 65%;
        top: 22%;
    }
    .img4{
        top: 55%;
    }
    .img5{
        top: 55%;
    }

    .img6{
        left: 60%;
    }

    .title{
        max-width: 490px;
        left: 2%;
        top: 24%;
        font-size: 155px;
    }

    .description{
        max-width:800px;
        margin-top: -20px;
    }

    .portfolio{
        width: 880px;
        height: 130px;
        display: flex;
        justify-content: space-between;
        padding-top: 0%;
        margin-top: 38px;
        margin-left: 30px;
    }
    .portfolio .ourpfl{
        width: 680px;
        height: 50px;
        font-size: 85px;
        margin: 0px;
        font-weight: 600;
        display: flex;
    }

    .viewall{
        margin-top: 24px;
        font-size: 40px;
        width: 200px;
        height: 60px;
    }

    .prtimg{
        display: flex;
        justify-content: space-around;
        gap: 20px;
        align-items: flex-end;
        height: 630px;
        width: 830px;
        font-size: 25px;
        margin-left: 45px;
    }

    .etherealimg img{
        height: 380px;
        width: 250px;
    }
    
    .verdantimg img{
        height: 460px;
        width: 300px;
    }
    
    .luminaimg img{
        height:320px;
        width: 240px;
    }

    .etherealheading{
        /* margin-top: 10px; */
        margin-bottom: 10px;
        font-size: 33px;
        margin-left: 2px;
    }
}

/* End of Responsive for tablets  */

/* Responsivness for Mobile  */
@media screen and (max-width:429px){
    .navbar{
        position: relative;
    }
    .navlist{
        left: 35px;
        column-gap: 20px;
        font-size: 22px;
    }

    .image-wrapper{
        max-width: 300px;
        max-height: 60vh;
        position: relative;
   
    }

    .img img{
        height: 110px;
        width: 100px;
        margin-left: 10px;
    }
    .img1{
        top: 0%;
        left: 68%;
    }

    .img2{
        left: 10%;
        top: 10%;
    }
    .img3{
        left: 85%;
        top: 28%;
    }
    .img4{
        top: 45%;
        left: 12%;
    }
    .img5{
        top: 55%;
    }

    .img6{
        left: 47%;
        top: 65%;
    }

    .title{
        max-width: 300px;
        left: 5%;
        top: 24%;
        font-size: 80px;

    }

    .description{
        max-width:380px;
        font-size: 28px;
        margin-top: -20px;
        margin-left: 28px;
        margin-bottom: 0px;
    }

    .portfolio{
        width: 400px;
        display: flex;
        justify-content: space-between;
        padding-top: 0%;
        margin-top: 18px;
        padding-bottom: 0px;
    }
    .portfolio .ourpfl{
        width: 280px;
        height: 50px;
        font-size: 35px;
        margin: 0px;
        font-weight: 600;
        display: flex;
    }

    .viewall{
        margin-top: 6px;
        font-size: 20px;
        width: 100px;
        height: 32px;
    }

    .prtimg{
        display: flex;
        flex-direction: column;
        position: absolute;
        left: 0%;
        margin-left: 11px;
        height: 1560px;
        width: 400px;
        font-size: 25px;
        margin-top: -40px;
        padding-bottom: 0px;
        /* border: 2px solid red; */
    }

    .ph img{
        height: 340px;
        width: 355px;
    }

    .etherealheading{
        /* margin-top: 10px; */
        margin-bottom: 10px;
        font-size: 33px;
        margin-left: 19px;
    }

    .seeproject{
        margin-left: 21px;
    }
}
/* End of Responsivness for Mobile  */

